################################################################################
# This .gitignore file is manually maintained
################################################################################

/Samples/Desktop/D3D12Raytracing/src/D3D12RaytracingMiniEngineSample/dxcompiler.dll
/Libraries/D3D12RaytracingFallback/src/FallbackLayerUnitTests/x64/
/Packages

**/bin/x64
**/obj/x64
**/src/packages
**/src/bin
**/src/obj
**/.vs

*.hlsl.h
**/Build_VS16
**/Build

*.vcxproj.user
*.opendb
Samples/Desktop/D3D12HelloWorld/src/HelloVAResourceInterop/*.h264
Samples/Desktop/D3D12HelloWorld/src/HelloVAEncode/*.h264
/Samples/Desktop/D3D12Raytracing/src/D3D12OMMOfflineBaker/x64
/Samples/Desktop/D3D12Raytracing/src/x64
/Samples/Desktop/D3D12Raytracing/src/D3D12OMMOfflineBaker/leavesOMM.bin
/Samples/Desktop/D3D12Raytracing/src/D3D12OMMOfflineBaker/treeModel.bin
/Samples/Desktop/D3D12Raytracing/src/D3D12OMMOfflineBaker/treeOMM.bin
/Samples/Desktop/D3D12Raytracing/src/D3D12OMMOfflineBaker/jacaranda_tree_4k.obj

/Samples/Desktop/**/x64
