################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Packages

**/bin/x64
**/obj/x64
**/src/packages
**/src/bin
**/src/obj
**/.vs

*.vcxproj.user
*.opendb