# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare code/VS files as CRLF
*.cpp eol=crlf
*.h eol=crlf
*.hlsl eol=crlf
*.vcxproj eol=crlf
*.filters eol=crlf
*.sln eol=crlf

# Explicitly declare resource files as binary
*.bin binary