<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="assimp_native" version="4.0.1" targetFramework="native" />
  <package id="assimp_native.redist" version="4.0.1" targetFramework="native" />
  <package id="directxmesh_desktop_win10" version="2019.2.7.1" targetFramework="native" />
  <package id="directxtex_desktop_win10" version="2023.1.31.1" targetFramework="native" />
  <package id="WinPixEventRuntime" version="1.0.181206001" targetFramework="native" />
  <package id="zlib-vc140-static-64" version="1.2.11" targetFramework="native" />
</packages>