<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="directxmesh_desktop_win10" version="2021.1.10.1" targetFramework="native" />
  <package id="directxtex_desktop_win10" version="2023.1.31.1" targetFramework="native" />
  <package id="WinPixEventRuntime" version="1.0.210209001" targetFramework="native" />
  <package id="zlib-msvc-x64" version="1.2.11.8900" targetFramework="native" />
</packages>